:root {
    --fuenteHeading: 'Rubik', sans-serif;
    --fuenteParrafo: 'Rubik', sans-serif;
    
    --primario: #F5F5F5;
    --gris: #e1e1e1;
    --blanco: #ffff;
    --negro: #000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;    
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header **/
.header {
    display: flex;
    justify-content: space-between;
}
.logo-header {    
    padding: 0 8rem;
    font-weight: 500;    
}
.nav {    
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-right: 8rem;    
}
.nav__items {
    color: var(--negro);
}


/** Efecto Lluvia**/
#container {
    position: relative;
    height: 10vh;    
}
  
.logo {
    position: absolute;
    top: -35rem;
    animation: fall linear 3s infinite;
}
  
@keyframes fall {
    0% {
      transform: translateY(-50px);
      opacity: 1;
    }
    100% {
      transform: translateY(50vh);
      opacity: 0;
    }
}
.logo:nth-child(1) {
    left: 1%;
}
.logo:nth-child(2) {
    left: 25%;
    animation-delay: 0.5s;
} 
.logo:nth-child(3) {
    right: 25%;
    animation-delay: 1s;
}
.logo:nth-child(4) {
    right: 1%;
    animation-delay: 1s;
}


/** Sobre Mi **/
.sobre-mi {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.sobre-mi__perfil {
    height: 20rem;
    width: 20rem;
    background-color: black;
    border-radius: 10rem;
    margin-bottom: 2rem;
}
.sobre-mi__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-mi__redes {
    display: flex;
    gap: 5rem;    
}
.botom-redes {
    background-color: cyan;
    padding: 0.5rem;
    border-radius: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
}
.botom-redes:hover {
    background-color: aliceblue;
}